{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>About us</h2>
        </div>

        
        <div class = "sub-title">
            <hr>
            <div class = "sub-title-text">
                <h2>メンバー</h2>
                <p>Members</p>
            </div>
            <hr >
        </div>

        <div class = "profile">
            <h3>酒匂　真人</h3>
            <a data-toggle="collapse" href="#profile1" class = "profile1">
                <img src="{{ url_for('static', filename='images/blue.png') }}" class ="profile-img">
            </a>
        </div>

        <div class = "profile">
            <h3>大橋　玄弥</h3>

            <a data-toggle="collapse" href="#profile2" class = "profile2">
                <img src="{{ url_for('static', filename='images/genya.jpg') }}" class="profile-img">
            </a>
        </div>

        
        <div class = "profile-information">
            <div class="collapse" id="profile1">
                <p>バックエンドエンジニア</p>
                <br>
                <p>2000年生まれ。福岡県出身。</p>
                <p>福岡大学附属大濠高校卒。</p>
                <p>立命館大学情報理工学部情報<span><br></span>システムグローバルコース在籍。</p>

                
            </div>

            <div class="collapse" id="profile2">
                <p>フロントエンドエンジニア</p>
                <br>
                <p>2000年生まれ。群馬県出身。</p>
                <p>土浦日本大学高等学校<span><br></span>グローバルスタディーコース卒。</p>
                <p>立命館大学情報理工学部情報<span><br></span>システムグローバルコース在籍。</p>
            </div>
        </div>


    </div>
</div>
{% endblock %}