<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue no sekai official website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body>
    <div class ="wrapper">

        <header>
            <div class = "header-logo">
                <a href="index.html"><img src="images/bluenosekialogo2.png"></a>
            </div>

            <div class="hamburger-menu">
                <input type="checkbox" id="menu-btn-check">
                <label for="menu-btn-check" class="menu-btn"><span></span></label>
                <div class="menu-content">
                    <ul>
                        <li class="close">
                            <a href="index.html">Top</a>
                        </li>
                        <li class="close">
                            <a href="news.html">News</a>
                        </li>
                        <li class="close">
                            <a href="service.html">Service</a>
                        </li>
                        <li class="close">
                            <a href="works.html">Works</a>
                        </li>
                        <li class="close">
                            <a href="aboutus.html">About us</a>
                        </li>
                        <li class="close">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="header-menu">
                <li class="menu">
                    <a href="index.html">Top</a>
                </li>
                <li class="menu">
                    <a href="news.html">News</a>
                </li>
                <li class="menu">
                    <a href="#">Service</a>
                </li>
                <li class="menu">
                    <a href="works.html">Works</a>
                </li>
                <li class="menu">
                    <a href="aboutus.html">About us</a>
                </li>
                <li class="menu">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </header>

        <div class = "each-page">
            <div class="container no-scroll">
                <div class = "title">
                    <h2>Contact</h2>
                </div>

                
                <div class = "sub-title">
                    <hr>
                    <div class = "sub-title-text">
                        <h2>制作依頼</h2>
                        <p>Request Form</p>
                    </div>
                    <hr>
                </div>

                <div class = "contact-flow">
                <p>項目の入力</p>
                </div>
                <div class = "arrow">→</div>
                <div class = "contact-flow" style="border: 2px solid black;">
                    <p>入力内容の確認</p>
                </div>
                <div class = "arrow">→</div>
                <div class = "contact-flow">
                    <p>送信完了</p>
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>会社名 / 個人名　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>〇〇株式会社</p>
                    </div>
                    
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>メールアドレス　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>〇〇@gmail.com</p>
                    </div>
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>電話番号　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>00-0000-0000</p>
                    </div>
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>ご依頼内容　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>新規制作のご依頼or改修運用のご依頼</p>
                        <p>iagjijgjei</p>
                    </div>
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>想定予算　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>じぇふぉ円</p>
            
                    </div>
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>ご希望納期　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>三月</p>
            
                    </div>
                </div>

                <div class = "form">
                    <div class = "form-confirm-question">
                        <p>目的・概要　:</p>
                    </div>
                    <div class = "form-confirm-answer">
                        <p>waxれいあふぁうぃjがをじぇがwhgじゃいぐぃjqwrくぇrくぇrqwrwqrqwくぇとqごkg</p>
                    </div>
                </div>

                <div class = "form">
                    <a href="msg.html" class="button-fill">次へ</a>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <hr width = "100%">
        <div class = "footer-image">
            <a href="index.html"><img src="images/logo2.png"></a> 
        </div>
        <div class ="policies">
            <ul>
                <li><a href="#">セキュリティーポリシー</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
            </ul>
        </div>
        <p>Copyright © 2021 bluenosekai All Rights Reserved.</p>
    </footer>    

    <script src="script.js"></script>
</body>
</html>