{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>Contact</h2>
        </div>

        
        <div class = "sub-title">
            <hr>
            <div class = "sub-title-text">
                <h2>制作依頼</h2>
                <p>Request Form</p>
            </div>
            <hr>
        </div>

        <div class = "contact-flow" style="border: 2px solid black;">
        <p>項目の入力</p>
        </div>
        <div class = "arrow">→</div>
        <div class = "contact-flow">
            <p>入力内容の確認</p>
        </div>
        <div class = "arrow">→</div>
        <div class = "contact-flow">
            <p>送信完了</p>
        </div>

        {% if not context %}
        <form method="POST">
            {% for message in get_flashed_messages() %}
            <div class="text-danger form">{{ message }}</div>
            {% endfor %}
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput1" class="form-label form-left">会社名 / 個人名</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput1" placeholder="〇〇株式会社" name="name" required>
            </div>
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput2" class="form-label form-left">メールアドレス</label>
                <input type="email" class="form-control form-right" id="exampleFormControlInput2" placeholder="name@example.com" name="email" required>
            </div>
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput3" class="form-label form-left">メールアドレス再入力</label>
                <input type="email" class="form-control form-right" id="exampleFormControlInput3" placeholder="name@example.com" name="confirm" required>
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput4" class="form-label form-left">電話番号</label>
                <input type="tel" class="form-control form-right" id="exampleFormControlInput4" placeholder="00-0000-0000" name="tel" required>
            </div>





            <div class="form">
                <p class ="required">必須</p>
                <p class = "form-left">ご依頼内容</p>

                <div class ="form-check-select">

                    <div>
                        <input class="form-check-input" type="radio" id="flexRadioDefault1" value="新規製作のご依頼" name="options" required>
                        <label class="form-check-label" for="flexRadioDefault1">
                        新規制作のご依頼
                        </label>

                        <select class="form-select" name="detail">
                            <option selected>ご依頼内容を選択してください</option>
                            <option>Webサイト</option>
                            <option>Webサービス</option>
                        </select>
                    </div>

                    <div class ="form-check-select-low">
                        <input class="form-check-input" type="radio" id="flexRadioDefault2" value="改修・運用のご依頼" name="options">
                        <label class="form-check-label" for="flexRadioDefault2">
                        改修・運用のご依頼
                        </label>
                        <input type="url" class="form-control" id="exampleFormControlInput5" placeholder="https://〇〇〇〇.com" name="url">

                    </div>
                    
                </div>

            </div>



            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput5" class="form-label form-left">想定予算（円）</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput5" name="budget" required>
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput5" class="form-label form-left">ご希望納期</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput5" name="deadline" placeholder="1週間・1ヶ月など" required>
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlTextarea1" class="form-label form-left">目的・概要</label>
                <textarea class="form-control form-right" id="exampleFormControlTextarea1" rows="3" placeholder="制作依頼や改修依頼するWEBサイト・WEBサービスの運用目的など" name="body" required></textarea>
            </div>

            <div class = "form">
                <input type="submit" class="button-fill" value="次へ">
            </div>
        </form>
        {% endif %}

        {% if context %}
        <form method="POST">
            {% for message in get_flashed_messages() %}
            <div class="text-danger form">{{ message }}</div>
            {% endfor %}
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput1" class="form-label form-left">会社名 / 個人名</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput1" placeholder="〇〇株式会社" name="name" value="{{ context.name }}" required>
            </div>
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput2" class="form-label form-left">メールアドレス</label>
                <input type="email" class="form-control form-right" id="exampleFormControlInput2" placeholder="name@example.com" value="{{ context.email }}" name="email" required>
            </div>
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput3" class="form-label form-left">メールアドレス再入力</label>
                <input type="email" class="form-control form-right" id="exampleFormControlInput3" placeholder="name@example.com" name="confirm" required>
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput4" class="form-label form-left">電話番号</label>
                <input type="tel" class="form-control form-right" id="exampleFormControlInput4" placeholder="00-0000-0000" name="tel" value="{{ context.tel }}" required>
            </div>





            <div class="form">
                <p class ="required">必須</p>
                <p class = "form-left">ご依頼内容</p>

                <div class ="form-check-select">

                    <div>
                        <input class="form-check-input" type="radio" id="flexRadioDefault1" value="新規製作のご依頼" name="options" required>
                        <label class="form-check-label" for="flexRadioDefault1">
                        新規制作のご依頼
                        </label>

                        <select class="form-select" name="detail">
                            <option selected>ご依頼内容を選択してください</option>
                            <option value="新規Webサイト製作">Webサイト</option>
                            <option value="新規Webサービス製作">Webサービス</option>
                        </select>
                    </div>

                    <div class ="form-check-select-low">
                        <input class="form-check-input" type="radio" id="flexRadioDefault2" value="改修・運用のご依頼" name="options">
                        <label class="form-check-label" for="flexRadioDefault2">
                        改修・運用のご依頼
                        </label>
                        <input type="url" class="form-control" id="exampleFormControlInput5" placeholder="https://〇〇〇〇.com" name="url">

                    </div>
                    
                </div>

            </div>



            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput5" class="form-label form-left">想定予算（円）</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput5" name="budget" value="{{ context.budget }}" required>
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput5" class="form-label form-left">ご希望納期</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput5" name="deadline" placeholder="1週間・1ヶ月など" value="{{ context.deadline }}" required>
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlTextarea1" class="form-label form-left">目的・概要</label>
                <textarea class="form-control form-right" id="exampleFormControlTextarea1" rows="3" placeholder="制作依頼や改修依頼するWEBサイト・WEBサービスの運用目的など" name="body" required>{{ context.body }}</textarea>
            </div>

            <div class = "form">
                <input type="submit" class="button-fill" value="次へ">
            </div>
        </form>
        {% endif %}

    </div>
</div>
{% endblock %}