{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>Contact</h2>
        </div>

        
        <div class = "sub-title">
            <hr>
            <div class = "sub-title-text">
                <h2>制作依頼</h2>
                <p>Request Form</p>
            </div>
            <hr>
        </div>

        <div class = "contact-flow" style="border: 2px solid black;">
        <p>項目の入力</p>
        </div>
        <div class = "arrow">→</div>
        <div class = "contact-flow">
            <p>入力内容の確認</p>
        </div>
        <div class = "arrow">→</div>
        <div class = "contact-flow">
            <p>送信完了</p>
        </div>

        <form method="POST">
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput1" class="form-label form-left">会社名 / 個人名</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput1" placeholder="〇〇株式会社">
            </div>
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput2" class="form-label form-left">メールアドレス</label>
                <input type="email" class="form-control form-right" id="exampleFormControlInput2" placeholder="name@example.com">
            </div>
            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput3" class="form-label form-left">メールアドレス再入力</label>
                <input type="email" class="form-control form-right" id="exampleFormControlInput3" placeholder="name@example.com">
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput4" class="form-label form-left">電話番号</label>
                <input type="number" class="form-control form-right" id="exampleFormControlInput4" placeholder="00-0000-0000">
            </div>





            <div class="form">
                <p class ="required">必須</p>
                <p class = "form-left">ご依頼内容</p>

                <div class ="form-check-select">

                    <div>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                        新規制作のご依頼
                        </label>

                        <select class="form-select">
                            <option selected>ご依頼内容を選択してください</option>
                            <option value="Webサイト">Webサイト</option>
                            <option value="Webサービス">Webサービス</option>
                        </select>
                    </div>

                    <div class ="form-check-select-low">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                        改修・運用のご依頼
                        </label>
                        <input type="url" class="form-control" id="exampleFormControlInput5" placeholder="https://〇〇〇〇.com">

                    </div>
                    
                </div>

            </div>



            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput5" class="form-label form-left">想定予算</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput5">
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlInput5" class="form-label form-left">ご希望納期</label>
                <input type="text" class="form-control form-right" id="exampleFormControlInput5">
            </div>

            <div class = "form">
                <p class ="required">必須</p>
                <label for="exampleFormControlTextarea1" class="form-label form-left">目的・概要</label>
                <textarea class="form-control form-right" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
            </div>

            <div class = "form">
                <input type="submit" href="/apply" class="button-fill" value="次へ">
            </div>
        </form>

    </div>
</div>
{% endblock %}