{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        
        <div class = "title">
            <h2>Contact</h2>
        </div>
        <p class ="contact-text">お見積り、お問い合わせなどお気軽にご連絡ください。</p>
        <div class = "contact-left">
            <a href="/question" class="button-fill2">お問い合わせはこちら</a>
        </div>
        <div class = "contact-right">
            <a href="/apply" class="button-fill2">制作依頼はこちら</a>
        </div>

    </div>
</div>
{% endblock %}