{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>Contact</h2>
        </div>

        
        <div class = "sub-title">
            <hr>
            <div class = "sub-title-text">
                <h2>お問い合わせ</h2>
                <p>Contact Form</p>
            </div>
            <hr>
        </div>

        <div class = "contact-flow">
        <p>項目の入力</p>
        </div>
        <div class = "arrow">→</div>
        <div class = "contact-flow" style="border: 2px solid black;">
            <p>入力内容の確認</p>
        </div>
        <div class = "arrow">→</div>
        <div class = "contact-flow">
            <p>送信完了</p>
        </div>

        <form method="POST">
            <div class = "form">
                <div class = "form-confirm-question">
                    <p>会社名 / 個人名:</p>
                </div>
                <div class = "form-confirm-answer">
                    <p>〇〇株式会社</p>
                </div>
                
            </div>

            <div class = "form">
                <div class = "form-confirm-question">
                    <p>メールアドレス:</p>
                </div>
                <div class = "form-confirm-answer">
                    <p>〇〇@gmail.com</p>
                </div>
            </div>

            <div class = "form">
                <div class = "form-confirm-question">
                    <p>電話番号:</p>
                </div>
                <div class = "form-confirm-answer">
                    <p>00-0000-0000</p>
                </div>
            </div>

            <div class = "form">
                <div class = "form-confirm-question">
                    <p>お問い合わせ内容:</p>
                </div>
                <div class = "form-confirm-answer">
                    <p>waxれいあふぁうぃjがをじぇがwhgじゃいぐぃjqwrくぇrくぇrqwrwqrqwくぇとqごkg</p>
                </div>
            </div>

            <div class = "form">
                <input type="submit" class="button-fill" value="次へ">
            </div>
        </form>

    </div>
</div>
{% endblock %}