<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue no sekai official website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
    <div class="anime">
        <img src="{{ url_for('static', filename='images/bluenosekialogo.png') }}">
    </div>
    <div class = mainSite>
        <div class = "wrapper">
            <header>
                <div class = "header-logo">
                    <a href="/"><img src="{{ url_for('static', filename='images/bluenosekialogo2.png') }}"></a>
                </div>

                        
                <div class="hamburger-menu">
                    <input type="checkbox" id="menu-btn-check">
                    <label for="menu-btn-check" class="menu-btn"><span></span></label>
                    <div class="menu-content">
                        <ul>
                            <li class="close">
                                <a href="#">Top</a>
                            </li>
                            <li class="close">
                                <a href="#news">News</a>
                            </li>
                            <li class="close">
                                <a href="#service">Service</a>
                            </li>
                            <li class="close">
                                <a href="#works">Works</a>
                            </li>
                            <li class="close">
                                <a href="#aboutus">About us</a>
                            </li>
                            <li class="close">
                                <a href="#contact">Contact</a>
                            </li>
                            {% if g.user %}
                            <li class="menu">
                                <a href="/logout">Logout</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            
                <ul class="header-menu">
                    <li class="menu">
                        <a href="#">Top</a>
                    </li>
                    <li class="menu">
                        <a href="#news">News</a>
                    </li>
                    <li class="menu">
                        <a href="#service">Service</a>
                    </li>
                    <li class="menu">
                        <a href="#works">Works</a>
                    </li>
                    <li class="menu">
                        <a href="#aboutus">About us</a>
                    </li>
                    <li class="menu">
                        <a href="#contact">Contact</a>
                    </li>
                    {% if g.user %}
                    <li class="menu">
                        <a href="/logout">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </header>
                <div class = "main">
                    <div class="container-fluid">
                        <div class = "earth">
                            <img src="{{ url_for('static', filename='images/earth2.png') }}">
                        </div>
                        <div class ="catchphrase">
                            <p>あなたの<span> セカイ</span>一緒に作りませんか？</p>
                        </div>
                        <div class ="catchphrase2">
                            <p>あなたの<br>
                            <span> セカイ</span><br>
                            一緒に作りませんか？</p>
                        </div>
                    </div>
                </div>


                <div class = "news" id ="news">
                    <div class = "container no-scroll">
                        <div class ="fade-text no-scroll">
                            <div class = "title">
                                <h2>News</h2>
                            </div>

                            <hr class = "news-line">
                            

                            <!-- news -->
                            <div class = "row">
                                <div class = "col-3">
                                    <p>2021.03.01</p>
                                </div>
                                <div class = "col-9">
                                    <a data-toggle="collapse" href="news.html#news1" aria-expanded="false" aria-controls="news1">
                                        <p class="line-clamp">ぶるーノせかいへようこそ</p>
                                    </a>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-3">
                                    <p>2021.03.01</p>
                                </div>
                                <div class = "col-9">
                                    <a data-toggle="collapse" href="news.html#news1" aria-expanded="false" aria-controls="news1">
                                        <p class="line-clamp">ぶるーノせかいへようこそ</p>
                                    </a>
                                </div>
                            </div>



                            <hr class ="news-line">
                            
                            <a href="/news" class="button-fill">詳しくはこちら</a>
                        </div>
                    </div>
                </div>


                <div class = "service" id = "service">
                    <div class = "container">
                        <div class ="fade-text">
                            <div class = "title">
                                <h2>Service</h2>
                            </div>

                            <div class= "web-left">
                                <div class = "web-title">
                                    <hr>
                                    <div class = "web-title-text">
                                        <h2>Web制作</h2>
                                        <p>Web Production</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class = "web-information">
                                    <p>あなたのセカイを作るお手伝いをさせてください。</p>
                                    <p>ぶるーノせかいメイン事業であるWeb制作。</p>
                                    <br>
                                    <p>あなたの作りたいセカイを</p>
                                    <p> 我々と共に作り上げませんか？</p>
                                    
                                    <a href="/service" class="button-fill">詳しくはこちら</a>

                                </div>
                            </div>

                            <div class = "web-right">
                                 <img src="{{ url_for('static', filename='images/webdesign.jpg') }}">
                            </div>
                        </div>
                    </div> 
                </div>

                <div class = "works" id = "works">
                    <div class = "container">
                        <div class ="fade-text">

                            <div class = "title">
                                <h2>Works</h2>
                            </div>

                            <div class = "sub-title">
                                <hr>
                                <div class = "sub-title-text">
                                    <h2>制作実績</h2>
                                    <p>Previous Works</p>
                                </div>
                                <hr>
                            </div>

                            <!-- works -->
                            <div class ="works-image">
                                <a href="/works"><img src="{{ url_for('static', filename='images/takaakiweb.png') }}"></a>
                            </div>

                            <div class ="works-image">
                                <a href="/works"><img src="{{ url_for('static', filename='images/adMadoweb.png') }}"></a>
                            </div>
                            
                            <div>
                                <br>
                                <a href="/works" class="button-fill">詳しくはこちら</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "aboutus" id ="aboutus">
                    <div class = "container">
                        <div class ="fade-text">
                            <div class = "title">
                                <h2>About us</h2>
                            </div>

                            <div class = "sub-title">
                                <hr>
                                <div class = "sub-title-text">
                                    <h2>メンバー</h2>
                                    <p>Member</p>
                                </div>
                                <hr>
                            </div>

                            <div class = "member">
                                <h3>酒匂 真人</h3>
                                <img src="{{ url_for('static', filename='images/blue.png') }}">   
                                <p>立命館大学情報理工学部<br>情報システム<span><br></span>グローバルコース所属</p>                  
                                <p>プログラミングは趣味</p>
                               
                            </div>

                            <div class = "member">
                                <h3>大橋 玄弥</h3>
                                <img src="{{ url_for('static', filename='images/genya.jpg') }}">  
                                <p>立命館大学情報理工学部<br>情報システム<span><br></span>グローバルコース所属</p>                  
                                <p>ラーメンは日課</p>                            
                            </div>

                            <div>
                                <a href="/aboutus" class="button-fill">詳しくはこちら</a>
                            </div>
                        </div>
                    </div>
                </div>

        
                <div class = "contact" id ="contact">
                    <div class = "container" >
                        <div class = "fade-text">
                            <div class = "title">
                                <h2>Contact</h2>
                            </div>
                            <p class ="contact-text">お見積り、お問い合わせなどお気軽にご連絡ください。</p>
                            <div class = "contact-left">
                                <a href="/contact/question" class="button-fill2">お問い合わせはこちら</a>
                            </div>
                            <div class = "contact-right">
                                <a href="/contact/apply" class="button-fill2">制作依頼はこちら</a>
                            </div>
                        </div>
                    </div>


                </div>
        </div>
            <footer>
                <div class = "footer-image">
                    <a href="/"><img src="{{ url_for('static', filename='images/logo2.png') }}"></a> 
                </div>

                <div class ="policies">
                    <ul>
                        <li><a href="/site_policy">利用規約</a></li>
                        <li><a href="/privacy_policy">プライバシーポリシー</a></li>
                    </ul>
                </div>
                <p>Copyright © 2021 bluenosekai All Rights Reserved.</p>
            </footer> 

    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>