{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>Login</h2>
        </div>

        <form method="POST">
            {% for message in get_flashed_messages() %}
            <div class="text-danger form">{{ message }}</div>
            {% endfor %}
            <label for="loginId" class="form-label">Username</label>
            <input type="text" class="form-control" id="newsTitle" name="username" required>
            <br>
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="password" required>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}