{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>News</h2>
        </div>

        {% if g.user %}
        <div class = "create">
            <a href="/createnews">Create News</a>
        </div>    
        {% endif %}

        <hr class = "news-line">

        <div class = "row">
            <div class = "col-4">
                <p>2021.03.23</p>
            </div>
            <div class = "col-8">
                <a data-toggle="collapse" href="#news1" aria-expanded="false" aria-controls="news1">
                    <p class="line-clamp">ぶるーノせかいへようこそ</p>
                </a>
                {% if g.user %}
                <div class = "edit-news">
                    <a href="/editnews">edit</a>
                </div>
                {% endif %}

                <div class="collapse" id="news1">
                    <p class="news-content">
                        ぶるーノせかい公式WEBサイトを公開しました。遂に我々のセカイが始動しました。次はあなたのセカイを一緒に創ってみませんか？
                    </p>
                </div>
            </div>
        </div>

        <hr class = "news-line">
    </div>
</div>
{% endblock %}