{% extends "base.html" %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>Service</h2>
        </div>

        
        <div class = "sub-title">
            <hr>
            <div class = "sub-title-text">
                <h2>Web制作</h2>
                <p>Web Production</p>
            </div>
            <hr>
        </div>

        <div class = "main-web-information">
            <p>あなたの<span>セカイ</span>を作るお手伝いをさせてください。</p>
            <p>ぶるーノせかいメイン事業であるWeb制作</p>
            <p>あなたの作りたい<span>セカイ</span>を
            我々と共に作り上げませんか？</p>
        </div>

        <div class = "main-web-information">
            <p>あなたの要望にあった</p>
            <p>デザインや機能を</p>
            <p>準備、実装、維持まで</p>
            <p>丁寧にお手伝いさせて頂きます。</p>
        </div>

        <div class = "main-web-information">
            <p>ぶるーノせかいでは外部のサービスを使用せず</p>
            <p>依頼者様ご自身で</p>
            <p>簡単にサイト内を管理、更新できるような</p>
            <p>システム作りを当社で行います。</p>
            <p>お見積り、お問い合わせなどお気軽にご連絡ください。</p>
        </div>

        <a href="/contact" class="button-fill">お問い合わせはこちら</a>


    </div>
</div>
{% endblock %}