<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue no sekai official website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body>
    <div class = "wrapper">
        <header>
            <div class = "header-logo">
                <a href="index.html"><img src="images/bluenosekialogo2.png"></a>
            </div>

            <div class="hamburger-menu">
                <input type="checkbox" id="menu-btn-check">
                <label for="menu-btn-check" class="menu-btn"><span></span></label>
                <div class="menu-content">
                    <ul>
                        <li class="close">
                            <a href="index.html">Top</a>
                        </li>
                        <li class="close">
                            <a href="news.html">News</a>
                        </li>
                        <li class="close">
                            <a href="service.html">Service</a>
                        </li>
                        <li class="close">
                            <a href="works.html">Works</a>
                        </li>
                        <li class="close">
                            <a href="aboutus.html">About us</a>
                        </li>
                        <li class="close">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="header-menu">
                <li class="menu">
                    <a href="index.html">Top</a>
                </li>
                <li class="menu">
                    <a href="news.html">News</a>
                </li>
                <li class="menu">
                    <a href="service.html">Service</a>
                </li>
                <li class="menu">
                    <a href="works.html">Works</a>
                </li>
                <li class="menu">
                    <a href="aboutus.html">About us</a>
                </li>
                <li class="menu">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </header>

        <div class = "each-page">
            <div class="container no-scroll">
                <div class = "title">
                    <h2>Policy</h2>
                </div>

                
                <div class = "sub-title">
                    <hr>
                    <div class = "sub-title-text">
                        <h2>利用規約</h2>
                        <p>Site Policy</p>
                    </div>
                    <hr>
                </div>

                <div class = "policy">
                    <h3>1. 著作権について</h3>
                    <p>当ウェブサイトで公開されるテキスト、画像、イラスト、映像、音楽データ、プログラムなどすべての内容(以下、総称と
                        してコンテンツと呼びます)に関する権利は、当方または原著作者に帰属します。
                        これらコンテンツの私的複製などは、法律によって認められる範囲を超えての使用はできません。
                        当方、原著作者の許諾を得ることなく複製、改変、転載、販売、出版など著作権法そのほか法律に触れる行為は禁止されております。</p>
                        <hr>
                    <h3>2. 免責事項</h3>
                    <p>当社は、以下の事項につき、一切の責任を負わないものとします。<br>
                        <ol>
                            <li>本サービスに関する一切の事項についての完全性、正確性、安全性、有用性等</li>
                            <li>利用者が本サービスより提供される各種コンテンツ、弊社配信のメールマガジン等によって被った損害</li>
                            <li>本サービスに関連して、利用者間で生じたトラブル</li>
                            <li>当社ウェブサイトからリンクされた、当社ウェブサイト以外のウェブサイトの内容やサービスに関して生じたトラブル</li>
                            <li>利用者が使用するコンピューター、回線、ソフトウェア等の環境等に基づき生じた損害</li>
                            <li>本サービスの中断・停止又は本サービスの内容変更によって利用者が受ける損害</li>
                        </ol>
                        <hr>
                    <h3>3. 個人情報の取扱いについて</h3>
                    <p>当サイトのご利用に際して利用者から取得した氏名、メールアドレス等の個人情報は、別途定める「プライバシーポリシー」に則り取り扱います。</p>
   
                </div>


            </div>
        </div>
    </div>
    <footer>
        <div class = "footer-image">
            <a href="index.html"><img src="images/logo2.png"></a> 
        </div>
        <div class ="policies">
            <ul>
                <li><a href="#">利用規約</a></li>
                <li><a href="privacy-policy.html">プライバシーポリシー</a></li>
            </ul>
        </div>
        <p>Copyright © 2021 bluenosekai All Rights Reserved.</p>
    </footer>    

    <script src="script.js"></script>
</body>
</html>