{% extends "base.html" %}

{% block slick_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}">
{% endblock %}

{% block content %}
<div class = "each-page">
    <div class="container no-scroll">
        <div class = "title">
            <h2>Works</h2>
        </div>

        
        <div class = "sub-title">
            <hr>
            <div class = "sub-title-text">
                <h2>制作実績</h2>
                <p>Previous Works</p>
            </div>
            <hr>
        </div>


        <div class="center slider">
            <div id = "takaakiweb"> 
                <img src="{{ url_for('static', filename='images/takaakiweb.png') }}">
                <div class ="works-information">
                    <h3>Takaaki Official Website</h3>
                    <p>シンプルかつ綺麗な背景色が特徴的なアーティストページ</p>
                    <p>お客様が管理、更新のできるニュースページや<br>
                    制作曲を投稿できるディスコグラフィーのページなど<br>
                    お客様のご要望に応じて制作いたします。</p>
                </div>

                <div class ="works-information-mobile">
                    <h3>Takaaki Official Website</h3>
                    <p>シンプルかつ綺麗な背景色が特徴的な<br>アーティストページ</p>
                    <p>お客様が管理、更新のできる<br>ニュースページや<br>
                    制作曲を投稿できる<br>ディスコグラフィーのページなど<br>
                    お客様のご要望に応じて<br>制作いたします。</p>
                </div>
            </div>

            <div id ="adMadoweb">
                <img src="{{ url_for('static', filename='images/adMadoweb.png') }}">
                <div class ="works-information">
                    <h3>adMado Official Website</h3>
                    <p>TOPページに大きく背景写真を使用したWebサイト</p>
                    <p>このサイトの様に新たに起業を考えている方々と<br>
                    一緒に一つのウェブサイトを作り上げます</p>
                
                </div>
                <div class ="works-information-mobile">
                    <h3>adMado Official Website</h3>
                    <p>TOPページに大きく背景写真を使用した<br>Webサイト</p>
                    <p>このサイトの様に新たに起業を<br>考えている方々と<br>
                        一緒に一つのウェブサイトを<br>作り上げます。</p>
                </div>
            </div>
            <div id ="bluenosekaiweb">
                <img src="{{ url_for('static', filename='images/bluenosekaiweb.png') }}">
                <div class ="works-information">
                    <h3>Blue no Sekai Official Website</h3>
                    <p>ぶるーノせかい公式ウェブサイト</p>
                    <p>シンプルかつ、見てくださった方々の<br>印象に残るウェブサイトに仕上げました。</p>
                </div>

                <div class ="works-information-mobile">
                    <h3>Blue no Sekai Official Website</h3>
                    <p>ぶるーノせかい公式ウェブサイト</p>
                    <p>シンプルかつ、<br>見てくださった方々の<br>印象に残る<br>ウェブサイトに仕上げました。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block slick_js %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
{% endblock %}